.navbar {
  background-color: #1e3a8a;
  color: white;
  padding: 0.75rem 1.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  height: 2rem;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 2rem;
  width: 2rem;
  margin-right: 0.75rem;
}

.navbar-title {
  font-size: 1.25rem;
  font-weight: 600;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
}
