<p data-test="helloWorld">Hello, {{ name }}!</p>
<p *ngIf="greeting$ | async as greeting">{{ greeting }}</p>
<div>
  <span>Test1</span>
  <span>Test2</span>
</div>
<span *ngFor="let item of ['a', 'b', 'c']; let i = index">
  <span>{{ i }}</span><span>:</span><span>{{ item }}</span>
</span>
<b *ngIf="name === 'Somebody'">Test3</b>
<button (click)="onButtonClick()">Klick mich an!</button>
<p *ngIf="buttonClicked">Du hast den Button geklickt!</p>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <label for="inputValue">Gib etwas ein:</label>
  <input
    id="inputValue"
    formControlName="inputValue" 
  />

  <!-- Validierungsfehler anzeigen -->
  <div *ngIf="myForm.get('inputValue')?.invalid && myForm.get('inputValue')?.touched" style="color: red;">
    <div *ngIf="myForm.get('inputValue')?.hasError('required')">Das Feld ist erforderlich.</div>
    <div *ngIf="myForm.get('inputValue')?.hasError('minlength')">Mindestens 3 Zeichen erforderlich.</div>
  </div>

  <button type="submit">Abschicken</button>
</form>
